form fieldset fieldset.r {
    padding:0;
	margin:0;
    position:relative;
}

form fieldset fieldset.r p .r {
	margin-top:0.2em;
}

form fieldset.r div.c {
	display:inline-block;
	margin:0.75em 0 0.75em 10em;
}

form fieldset fieldset.r p {
    padding-left:2em;
}

form fieldset fieldset.r p label {
	float: left;
	width:8em;
	padding:0;
}

form fieldset.r legend {
	white-space:normal;
	font-weight:bold;
	font-size:1.1em;
	font-family: !type_header_font_family;
	color:!type_default_color;
}
