.document table {
	width:100%;
	border:1px solid #f0f0f0;
	margin:0 0 1em 0;
	font-size:1em;
}

.document table th {
	font-weight:bold;
	background-color:#d0d0d0;
	/*white-space: nowrap;*/
}

.document table th,
.document table td {
	vertical-align: top;
	padding:0.5em;
/*	border-bottom:1px solid !section_border_color;*/
}

.document table tr.e td {
	background-color:#f0f0f0;
}

.document table p {
	margin:0.1em 0;
}

/* Tables */
.document table.b-list {
	background-color:#fcfcfc;
	margin:0;
}

.document table.b-list th,
.document table.b-list td {
	white-space:normal;
}

.document table.b-list thead th {
	background-color:#e9e9e9;
}

.document table.b-list,
.document table.b-list th,
.document table.b-list td {
	border:1px solid !section_border_color;
}


