body.component_js .component-editmode.draggable-container .component-draggable:hover > .options-c .drag-move {
    border-right:2px solid #555;
    border-top:2px solid #555;
    border-bottom:2px solid #555;
    /*border-left:1px solid #555;*/
    background-color: #d5d5d5;
    width:30px;
    height:50px;
    /*margin:0 5px 5px -10px;*/
    /*float:left;*/
    position:absolute;
    top:0;
    left:0;
    cursor:move;
    border-radius:0 10px 10px 0;
    z-index: 99999999;
    opacity:0.85;
}

/*.ui-state-highlight {
    border:1px solid red !important;
    border:1px dashed #ddd !important;
}*/
