body.component_js .component-editmode.draggable-container .component-draggable:hover > .options-c .drag-move {
    border-right:2px solid #555;
    border-top:2px solid #555;
    border-bottom:2px solid #555;
    background-color: #d5d5d5;
    width:30px;
    height:50px;
    position:absolute;
    top:0;
    left:0;
    cursor:move;
    border-radius:0 10px 10px 0;
    z-index: 99999999;
    opacity:0.85;
}

/*.ui-state-highlight {
    border:1px solid red !important;
    border:1px dashed #ddd !important;
}*/

body.component_js .component-editmode.draggable-container .component-delete {
    position:relative;
}

body.component_js .component-editmode.draggable-container .component-delete .option-delete {
    #sprite:url(../../../../View/Css/I/Sprites/delete.png);
    position:absolute;
    top:0;
    right:0;
    cursor:pointer;
    z-index:9999999;
}
