<?xml version="1.0" encoding="utf-8"?>
<config
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    
	xmlns="http://www.rpi.co.uk/presentation/config/app/"
    version="2.0.0"
>
<!--    <dependencies handler="RPI\Framework\App\Config\Handler\Dependencies">
        <dependency class="RPI\Framework\Services\Authentication\IAuthentication" singleton="false">
            <class type="RPI\Services\Authentication\Mock">
                <value name="options">
                    <authenticationExpiryOffset>1800</authenticationExpiryOffset>
                    <forceSecureAuthenticationToken>false</forceSecureAuthenticationToken>
                </value>
            </class>
        </dependency>
    </dependencies>-->
</config>
